.cat-container {
  display: flex;
  overflow: auto;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  height: 4px; /* height of horizontal scrollbar ← You're missing this */
  width: 4px; /* width of vertical scrollbar */
  /* border: 1px solid #d5d5d5; */
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(212, 170, 112);
  /* box-shadow: inset 0 0 6px rgb(212, 170, 112); */
}

.cat-container :hover {
  background-color: rgb(241, 225, 228);
}

.cat {
  cursor: pointer;
  margin: 2vw;
}

.cat-recipes-img {
  width: 6rem;
}

.meal-img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
